*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: hwb(0 93% 3%);
    color: #0d0d0e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: 400px;
    letter-spacing: 4px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
}
p{
    text-align: center;
    margin: 30px;
    margin-top: 2%;
    margin-right: 15%;
}
img{
    width: 300px;
}
h2{
    text-align: center;
}

body{
     background-image: url(https://img.freepik.com/fotos-gratis/paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.jpg);
    
    background-repeat:no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
     

    /* background-image: -moz-linear-gradient(20degrgb(187,69,201););
    background-image: radial-gradient( radial-gradient(circle, rgba(187,69,201,1) 27%, rgba(75,59,194,1) 52%, rgba(82,44,183,1) 87%););
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%; */


     /* background-image: radial-gradient( circle, black, orange);  */
    
}



